@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-heading: var(--font-bricolage);
  --announcement-height: 2.5rem;
}

@layer base {
  body {
    font-family: var(--font-inter);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-bricolage);
    font-weight: 700;
    letter-spacing: -0.02em;
  }
}